@page "/catfacts"
@inject ApiAiBlazorLab.Services.CatFactService CatFactService
@rendermode InteractiveServer

<h3>Random Cat Fact</h3>

<button class="btn btn-primary" @onclick="() =>LoadFact()">Get Cat Fact</button>

@if (IsLoading)
{
    <p class="text-muted mt-2">Loading...</p>
}
else if (!string.IsNullOrEmpty(Fact))
{
    <div class="alert alert-info mt-3">@Fact</div>
}

@code {
    private string Fact = "";
    private bool IsLoading = false;

    private async Task LoadFact()
    {
        IsLoading = true;
        Fact = "";
        Fact = await CatFactService.GetRandomFactAsync();
        IsLoading = false;
    }
}
